headersOrigin = "config"
redirectsOrigin = "config"
plugins = []

[functions]

  [functions."*"]

[build]
publish = "/opt/build/repo"
publishOrigin = "config"

  [build.environment]

  [build.processing]

    [build.processing.css]

    [build.processing.html]

    [build.processing.images]

    [build.processing.js]

  [build.services]

[[headers]]
for = "/*"

  [headers.values]
  X-Frame-Options = "DENY"
  X-Content-Type-Options = "nosniff"
  Referrer-Policy = "strict-origin-when-cross-origin"

[[redirects]]
from = "/index.html"
to = "/"
status = 301
force = false

  [redirects.query]

  [redirects.conditions]

  [redirects.headers]